/responsabilidade-unica/ResponsabilidadeUnica/target/
/aberto-fechado/AbertoFechado/target/
/substituicao-liskov/SubstituicaoLiskov/target/
/segregacao-interface/SegregacaoInterface/target/
/inversao-dependencia/InversaoDependencia/target/
/reuso-composicao/reusocomposicao/target/
/lei-demeter/leidemeter/target/
